@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 29% 95%;
    --foreground: 221 39% 11%;
    --card: 0 0% 100%;
    --card-foreground: 221 39% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 221 39% 11%;
    --primary: 221 65% 32%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 20% 88%;
    --secondary-foreground: 221 39% 11%;
    --muted: 210 20% 88%;
    --muted-foreground: 221 20% 41%;
    --accent: 181 49% 43%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 80%;
    --input: 210 20% 88%;
    --ring: 221 65% 32%;
    --chart-1: 221 65% 32%;
    --chart-2: 181 49% 43%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 221 39% 25%;
    --sidebar-primary: 221 65% 32%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 29% 95%;
    --sidebar-accent-foreground: 221 65% 32%;
    --sidebar-border: 210 20% 88%;
    --sidebar-ring: 221 65% 32%;
  }
  .dark {
    --background: 221 39% 11%;
    --foreground: 210 40% 98%;
    --card: 221 39% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 221 39% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 221 65% 32%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 181 49% 43%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 221 65% 42%;
    --chart-1: 221 65% 42%;
    --chart-2: 181 49% 53%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 221 39% 11%;
    --sidebar-foreground: 210 40% 90%;
    --sidebar-primary: 221 65% 42%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 221 65% 42%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
